* {
    box-sizing: border-box;
  }

.Container {
    display: grid;
    flex-flow: row wrap;
    width: 75vw;
    height: 80vh;
    margin: 0;
    border-radius: 10px;
    background-color: #f9be72;
    overflow-y: scroll;

}
.Container--center {
    display: grid;
    align-items: center;
    justify-content: center;
}